@import "tailwindcss";

@theme {
  --color-surface-0: #09090b;
  --color-surface-1: #111113;
  --color-surface-2: #18181b;
  --color-surface-3: #27272a;

  --color-border: #27272a;
  --color-border-light: #3f3f46;

  --color-muted: #71717a;
  --color-subtle: #a1a1aa;

  --color-accent: #8b5cf6;
  --color-accent-light: #a78bfa;
}
